.et_pb_row_1.et_pb_row.et_pb_equal_columns,.et_pb_row_2.et_pb_row.et_pb_equal_columns,.et_pb_row_3.et_pb_row.et_pb_equal_columns,.et_pb_row_4.et_pb_row.et_pb_equal_columns,.et_pb_row_5.et_pb_row.et_pb_equal_columns{
	margin-right: 0px !important;
	margin-left: 9vw !important;
}
.et_pb_contact_right{
	display: none !important;
}
.et_pb_team_member{
	min-height: 400px;
	max-height: 450px;
}
::-webkit-scrollbar {
	-webkit-appearance: none;
	}
	::-webkit-scrollbar {
	width: 10px;
	}
	  
	::-webkit-scrollbar-track {
	background: #fff;
	}
	  
	::-webkit-scrollbar-thumb {
	background: #fff;
	height:100px;
	border-radius:5px;
	}
	  
@media all and (min-width:991px) {
	/* Sidebar */
	#et-top-navigation{
		overflow-y:scroll;
		overflow-x:hidden;
		height:80vh;
		padding-top: 0px !important;
	}
	#logo{
		margin-bottom:0px;
	}
	#et-top-navigation{
		padding-top:10px;
	}
	#et_top_search{
		margin-top: 10px !important;
		margin-bottom:30px;
	}
	/* Image */
	.et_pb_fullwidth_image{
		object-fit: cover;
		/* height: 71vh; */
		display: flex;
		align-items: center;
	}
	.et_pb_section_1{
		padding: 7.2vh 0;
		min-height:0px !important;
	}
	.et_vertical_nav #main-header .container {
		width: auto;
		margin: 0px 30px;
	}
	/* demography */
	.et_pb_image_0{
		padding: 0px 95px !important;
	}
	#post-1271,#post-1282,#post-1323,#post-1998{
		height: 90vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	
}
@media all and (max-width:991px) {
	.et_pb_image_0{
		padding-left: 0px !important;
	}
	#mobile_menu{
		height: 60vh;
		overflow: scroll;
	}

}
@media all and (max-width:768px) {
	#et-main-area{
		height: 92vh;
		background-color: #fff;
	}
	#main-content{
		height: 76vh;
		display: flex;
		align-items: center;
		background-color: #fff !important;
	}
	#main-footer{
		position: absolute;
		bottom: 0px;
	}
	#post-324{
		margin-top: 1400px;
	}
	#post-1310{
		margin-top: 900px;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	#post-1291{
		margin-top: 900px;
	}
	#post-2176{
		margin-top: 1850px;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	.page-id-1572 #et-main-area{
		margin-top: 2050px;
		height: 350vh;
	}
	.page-id-1299 #et-main-area{
		margin-top: 850px;
		height: 200vh;
	}
	.page-id-235 #et-main-area{
		margin-top: 1700px;
		height: 300vh;
	}
	#post-1319{
		margin-left: 40px;
		display: flex;
		flex-direction: column;
		z-index: 1;
		width: 90vw !important;
		height: 79vh;
		overflow: scroll;
		overflow-y: visible;
		padding-top: 30px;
		font-size: 1rem;
		line-height: 1.5rem;
	} 
	#top-header{
		position: relative;
		z-index: 5;
	}

}