.et_pb_row_1.et_pb_row.et_pb_equal_columns,.et_pb_row_2.et_pb_row.et_pb_equal_columns,.et_pb_row_3.et_pb_row.et_pb_equal_columns,.et_pb_row_4.et_pb_row.et_pb_equal_columns,.et_pb_row_5.et_pb_row.et_pb_equal_columns{
	margin-right: 0px !important;
	margin-left: 9vw !important;
}
.et_pb_contact_right{
	display: none !important;
}
.et_pb_team_member{
	min-height: 400px;
	max-height: 450px;
}
::-webkit-scrollbar {
	-webkit-appearance: none;
	}
	::-webkit-scrollbar {
	width: 10px;
	}
	  
	::-webkit-scrollbar-track {
	background: #fff;
	}
	  
	::-webkit-scrollbar-thumb {
	background: #fff;
	height:100px;
	border-radius:5px;
	}
	  
@media all and (min-width:991px) {
	/* Sidebar */
	#et-top-navigation{
		overflow-y:scroll;
		overflow-x:hidden;
		height:80vh;
		padding-top: 0px !important;
	}
	#logo{
		margin-bottom:0px;
	}
	#et-top-navigation{
		padding-top:10px;
	}
	#et_top_search{
		margin-top: 10px !important;
		margin-bottom:30px;
	}
	/* Image */
	.et_pb_fullwidth_image{
		object-fit: cover;
		/* height: 71vh; */
		display: flex;
		align-items: center;
	}
	.et_pb_section_1{
		padding: 7.2vh 0;
		min-height:0px !important;
	}
	.et_vertical_nav #main-header .container {
		width: auto;
		margin: 0px 30px;
	}
	/* demography */
	.et_pb_image_0{
		padding: 0px 95px !important;
	}
	#post-1271,#post-1282,#post-1323,#post-1998{
		height: 90vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	
}
@media all and (max-width:991px) {
	.et_pb_image_0{
		padding-left: 0px !important;
	}
	#mobile_menu{
		height: 60vh;
		overflow: scroll;
	}

}
@media all and (max-width:768px) {
	#et-main-area{
		height: 92vh;
		background-color: #fff;
	}
	#main-content{
		height: 76vh;
		display: flex;
		align-items: center;
		background-color: #fff !important;
	}
	#main-footer{
		position: absolute;
		bottom: 0px;
	}
	#post-1291{
		margin-top: 900px;
	}
	/* For students */
	.page-id-1572 #et-main-area{
		height: 600vh;
	}
	.page-id-1572 #post-1572{
		position: absolute;
		top: 12vh;
	}
	/* FAQs */
	.page-id-1299 #et-main-area{
		height: 300vh;
	}
	.page-id-1299 #post-1299{
		position: absolute;
		top: 8vh;
	}
	/* Contact us */
	.page-id-235 #et-main-area{
		height: 1100vmin
	}
	.page-id-235 #post-235{
		position: absolute;
		top: 15vh;
	}
	/* about-us */
	.page-id-324 #et-main-area{  
		height: 300vh;
	}
	.page-id-324 #post-324{  
		position: absolute;
    	top: 4vh;
	}
	.page-id-324 .et_pb_row_0 .et_pb_column_1_2{
		height: 0px;
	} 
	/* CDS Brochure */
	.page-id-1291 #et-main-area{  
		height: 200vh;
	}
	/* Why to recurit */
	.page-id-1310 #et-main-area{  
		height: 210vh;
	}
	.page-id-1310 #post-1310{  
		position: absolute;
    	top: 8vh;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	/* Requirement policy */
	.page-id-2176 #et-main-area{  
		height: 320vh;
	}
	.page-id-2176 #post-2176{
		position: absolute;
		top: 7vh;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	/* Demography of students */
	.page-id-1327 #et-main-area{  
		height: 100vh;
		padding-top: 4vh;
	}
	.page-id-1327 .et_pb_image_wrap {  
		margin-top: 50px;
	}
	/* past recuriters */
	.page-id-2225 #et-main-area{  
		margin-top: 850vh;
		height: 1000vh;
	}
	.page-id-2225 #post-2225{  
		position: absolute;
		top: 7vh;
	}
	.page-id-2225 .et_pb_image{
		display: flex;
		justify-content: center;
	}
	/* Foreign */
	.page-id-2438 #post-2438{  
		position: absolute;
		top: 20vh;
	}
	.page-id-2438 .et_pb_image_wrap {  
		display: flex;
		justify-content: center;
	}
	
	
	#post-1319{
		margin-left: 40px;
		display: flex;
		flex-direction: column;
		z-index: 1;
		width: 90vw !important;
		height: 74vh;
		overflow: scroll;
		overflow-y: visible;
		padding-top: 30px;
		font-size: 1rem;
		line-height: 1.5rem;
	} 
	#top-header{
		position: relative;
		z-index: 5;
	}

}